.button {
  padding: 0.5rem 1rem;
  margin-right: 0.5rem;
  border: 1px solid #d3d3d3;
  border-radius: 3px;
  cursor: pointer;
}

.button,
.button:focus {
  background: white;
  outline: none !important;
}

.button:active {
  background: #d3d3d3;
}
