.card {
    margin-bottom: 1rem;
    background-color: var(--white);
    border-radius: .25rem;
    border: 1px solid var(--border);
}

.content, .title {
    padding: 1rem;
}

.title {
    border-bottom: 1px solid var(--border);
}