.header {
  &__nav-wrapper {
    padding: 0 1rem;
  }

  &__title {
    font-size: 1.2rem;
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    background: color("shades", "white");
    color: $primary-color-dark;

    a {
      color: $primary-color-dark;
    }
  }
}
