.sidebar {
  width: $sidebar-width;
  box-shadow: none;
  background: $sidebar-background-color;

  li {
    a {
      overflow: hidden;
      white-space: nowrap !important;
      text-overflow: ellipsis !important;
      color: $sidebar-color;
    }

    .material-icons {
      margin-right: 1rem !important;
      color: $sidebar-color !important;
    }
  }
}

.user-view {
  border-bottom: 1px solid $sidebar-color;
}
